header {

    color: #22223b

}
 
body {

    font-family: Arial, sans-serif;

    background-image: url('images/fons22.png');
    
    color: white;

    text-align: center;

    margin: 0;

    padding: 0;

}
 
nav ul {

    list-style-type: none;

    background: #22223b;

    padding: 10px;

    margin: 0;

    display: flex;

    justify-content: center;

}
 
nav ul li {

    position: relative;

    margin: 0 15px;

}
 
nav ul li a {

    color: white;

    text-decoration: none;

    font-weight: bold;

    padding: 10px;

    display: block;

}
 
nav ul li a:hover {

  background: #666b8a;

}

.dropdown-content {

    display: none;

    position: absolute;

    background: #4a4e69;

    min-width: 160px;

    z-index: 1;

}
 
.dropdown:hover .dropdown-content {

    display: block;

}
 
.dropdown-content li {

    display: block;

    text-align: left;

}
 
section {

    margin: 50px;

    padding: 20px;

    background: #c9ada7;

    border-radius: 10px;

}
 
.active {

  background: #c9ada7

}
 
.kajene {

    position: fixed;

    left: 0;

    bottom: 0;

    width: 100%;

    background-color: #f7dfdf;

    color: #22223b;

    text-align: center;
    
    font-weight: bold;
    
}


.kajene p {
    
    font-size: 15px;
    
}

.rastgr img {
    
  width: 70%;

}

.vektorgr img {
    width: 30%;
}

.teksts img {
    width: 60%;
}

.video video{
    width: 30%
}

.izklajl img{
    width: 60%
}

.3d{
    
    width: 50%
    
}

p {
    font-size: 20px; 
}

h1 {
    
  text-align: center;
  
  padding: 10px;
  
  font-size: 60px;
  
  text-decoration: underline #c9ada7;
  
  font-weight: bold;
  
}

h2 {
    
    font-size: 30px
    
}

#backToTop {
            position: fixed;
            bottom: 60px;
            right: 20px;
            background-color: #4a4e69;
            color: white;
            border: none;
            padding: 15px;
            border-radius: 100%;
            font-size: 18px;
            cursor: pointer;
            display: none;
        }